body{
  margin: 0;
  background-image: url(../gallery/background.jpg);
  background-size: cover;
  background-attachment: fixed;
}

/*Menu*/

nav{
  background-color: white;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
}

nav ul{
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
}

nav ul li{
  margin-left: 40px;
  font-family: Roboto;
}

nav ul li a{
  color: black;
  text-decoration: none;
}

#thispage{
  border-bottom: black solid 2px;
}

nav ul li:hover{
  border-bottom: grey solid 2px;
}

/*Contenu*/

.Container{
  margin: 7% auto;
  width: 84%;
  height: 610px;
  display: flex;
  flex-wrap: wrap;
}

/*Bannière nom-age*/

.Container .homepageheader{
  margin: 0;
  width: 100%;
  height: 300px;
  background-color: #1c1c1c;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Container .homepageheader p{
  margin: 0 10px;
  font-family: Roboto;
  font-size: 110px;
  font-weight: 600;
  line-height: 95px;
  letter-spacing: -8px;
}

.Container .homepageheader #firstname{
  color: #d1cfd1;
}

.Container .homepageheader #lastname{
  color: #a3a1a3;
}

.Container .homepageheader #age{
  color: #5d5c5d;
}

/*boîtes sous le nom*/

.Container .left{
  margin: 2.5% 0;
  width: 68%;
  height: 300px;
  background-color: #1c1c1c;
}

.Container .right{
  margin: 2.5% 0;
  margin-left: 2%;
  width: 30%;
  height: 300px;
  background-color: #1c1c1c;
}

/*boîte biography*/

.Container .left #biotitle{
  margin: 0 2px;
  font-size: 50px;
  font-family: Roboto;
  color: #a3a1a3;
  font-weight: 700;
  letter-spacing: -4px;
}

.Container .left p{
  margin: 0;
  color: #d1cfd1;
  font-family: Roboto;
}

.Container .left .bioleft{
  margin: 0;
  padding: 2%;
  width: 45%;
  display: inline-block;
  border-right: white solid 1px;
  text-align: right;
}

.Container .left .bioright{
  margin: 0;
  padding: 1.5%;
  width: 45%;
  display: inline-block;
  text-align: left;
}

/*Boîte photo*/

.Container .right{
  display: flex;
  justify-content: center;
}

.Container .right img{
  color: white;
  width: 220px;
  height: 220px;
  border-radius: 220px;
  border: white solid 2px;
  align-self: center;
}

/*Contenu boîte du bas*/

.Container .last{
  margin: 0;
  background-color: #1c1c1c;
  width: 100%;
  height: 260px;
}

.Container .last #contacttitle{
  margin: 0 2px;
  font-size: 50px;
  font-family: Roboto;
  color: #5d5c5d;
  font-weight: 700;
  letter-spacing: -4px;
}

.Container .last .contactsection{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Container .last .contactsection .contact{
  margin: 0;
  padding: 10px;
  width: 33.2%;
  height: 150px;
  border-right: white solid 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Container .last .contactsection .contact p{
  font-family: Roboto;
  color: white;
text-align: center;
}

.Container .last .contactsection .lastcontact{
  border : none;
}

/*HOBBIES*/

/*Boîtes*/

.Container header{
  margin-bottom: 2.5%;
  width: 100%;
  height: 70px;
  background-color: #1c1c1c;
}

.Container .watch{
  width: 49%;
  height: 500px;
  background-color: #1c1c1c;
}

.Container .listen{
  margin-left: 2%;
  width: 49%;
  height: 500px;
  background-color: #1c1c1c;
}

.Container .activities{
  margin-top: 2.5%;
  background-color: #1c1c1c;
  width: 100%;
  height: 390px;
}

.Container .activities .articleactivities{
  display: flex;
  flex-direction: row;
  align-items: center;
}

/*Contenu header*/

.Container header p{
  margin: 0;
  margin-left: 4px;
  color: #d1cfd1;
  font-family: Roboto;
  font-size: 60px;
  font-weight: 600;
  letter-spacing: -3px;
}

/*Contenu watch*/

.Container .watch .screen{
  margin: 10px;
  width: 70px;
  height: 70px;
  border-radius: 150px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Container .watch .screen img{
  width: 40px;
  height: 40px;
}

.Container .watch article{
  margin: 0 30%;
  width: 40%;
  height: 400px;
}

/*Les trois images de Watch*/

.Container .watch article .tokyoghoul{
  width: 100%;
  height: 120px;
  background-image: url(../gallery/tokyoghoul.png);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Container .watch article .parasyte{
  width: 100%;
  height: 120px;
  background-image: url(../gallery/parasyte.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Container .watch article .totoro{
  width: 100%;
  height: 120px;
  background-image: url(../gallery/totoro.png);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Container .watch article section p{
  margin: 0;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 600;
  color: white;
  text-align: center;
  opacity: 0;
  width: 100%;
}

.Container .watch article section:hover{
  opacity: 0.5;
}

.Container .watch article p:hover{
  opacity: 1;
}

/*Contenu listen*/

.Container .listen .earphones{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.Container .listen .earphones .earphoneswhite{
  margin: 10px;
  width: 70px;
  height: 70px;
  border-radius: 150px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Container .listen .earphones .earphoneswhite img{
  width: 50px;
  height: 50px;
  position: relative;
}

.Container .listen .playlist{
  width: 100%;
  height: 350px;
  display: flex;
  flex-wrap: wrap;
}

.Container .listen .playlist .playlistleft{
  width: 40%;
  height: 350px;
  border-right: white solid 2px;
  padding: 5%;
}

.Container .listen .playlist .playlistright{
  width: 39.5%;
  height: 350px;
  padding: 5%;
}

.Container .listen .playlist ul{
  list-style: disc;
}
.Container .listen .playlist ul li{
  margin-bottom: 20px;
  color : white;
}

.Container .listen .playlist ul li a{
  font-family: Roboto;
  color : white;
  font-weight: 600;
  font-size: 12px;
}

/*Séparation tirets blancs*/

.Container .whitedot{
  margin-top: 2.5%;
  width: 100%;
  height: 1px;
  border-top: white dashed 5px;
}

/*Contenu activities*/
/*Le titre principal de la section*/
.Container .activities .titlelike{
  margin: 0;
  width: 100%;
  height: 55px;
}

.Container .activities .titlelike p{
  margin: 5px;
  margin-bottom: 15px;
  color: #d1cfd1;
  font-family: Roboto;
  font-weight: 600;
  font-size: 40px;
}

/*Les titres secondaires*/

.Container .activities .articleactivities .titleactivities{
  margin: 0;
  margin-bottom: 10px;
  color: #a3a1a3;
  font-family: Roboto;
  font-weight: 600;
  font-size: 20px;
}

/*Les trois sous boîtes*/

.Container .activities .articleactivities .writing{
  margin: 0;
  padding: 10px;
  width: 33.3%;
  height: 280px;
  border-right: white solid 2px;
}

.Container .activities .articleactivities .singing{
  margin: 0;
  padding: 10px;
  width: 33.3%;
  height: 280px;
  border-right: white solid 2px;
}

.Container .activities .articleactivities .traveling{
  margin: 0;
  padding: 10px;
  width: 33.3%;
  height: 280px;
}

/*Le contenu des trois sous boîtes*/

.Container .activities .articleactivities ul{
  margin: 0;
  list-style: none;
}

.Container .activities .articleactivities ul li a{
  margin: 0;
  color: white;
  text-decoration: underline;
  font-family: Roboto;
}

.Container .activities .articleactivities ul li{
  margin: 0;
  color: white;
  text-decoration: none;
  font-family: Roboto;
}

.Container .activities .articleactivities p{
  margin: 0;
  color: white;
  font-family: Roboto;
  text-align: justify;
}

.Container .activities .articleactivities p{
  margin: 20px;
}

/*RESUME*/

.Container .resumeleft{
  margin: 0;
  margin-right: 1.5%;
  width: 72.5%;
  height: 540px;
  background-color: #1c1c1C;
  padding: 3%;
}

.Container .resumeright{
  margin: 0;
  padding: 3%;
  width: 14%;
  height: 540px;
  background-color: #1c1c1c;
}

.Container .formaquali{
  margin: 2% 0;
  width: 100%;
  height: 70px;
  color: white;
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
  border-bottom: white solid 2px;
}

.Container .lastformaquali{
  border: 0;
}
